---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/sprigatito
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"521a-iNHeDZPFVLHBEHvXugrrXLete/c"
      function-execution-id:
      - vp6at20q0ik0
      x-cloud-trace-context:
      - 7970b329020e6e3a4f46fc4cc512071c
      x-country-code:
      - US
      x-orig-accept-language:
      - en-US,en;q=0.9
    body:
      encoding: UTF-8
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"protean","url":"https://pokeapi.co/api/v2/ability/168/"},"is_hidden":true,"slot":3}],"base_experience":null,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/906.ogg","legacy":null},"forms":[{"name":"sprigatito","url":"https://pokeapi.co/api/v2/pokemon-form/906/"}],"game_indices":[],"height":4,"held_items":[],"id":906,"is_default":true,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/906/encounters","moves":[{"move":{"name":"scratch","url":"https://pokeapi.co/api/v2/move/10/"},"version_group_details":[{"level_learned_at":1,"move_learn_method":{"name":"level-up","url":"https://pokeapi.co/api/v2/move-learn-method/1/"},"version_group":{"name":"scarlet-violet","url":"https://pokeapi.co/api/v2/version-group/25/"}}]},{"move":{"name":"take-down","url":"https://pokeapi.co/api/v2/move/36/"},"version_group_details":[{"level_learned_at":0,"move_learn_method":{"name":"machine","url":"https://pokeapi.co/api/v2/move-learn-method/4/"},"version_group":{"name":"scarlet-violet","url":"https://pokeapi.co/api/v2/version-group/25/"}}]},{"move":{"name":"tail-whip","url":"https://pokeapi.co/api/v2/move/39/"},"version_group_details":[{"level_lear[...]
